name: CI
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Nix
      uses: cachix/install-nix-action@ba0dd844c9180cbf77aa72a116d6fbc515d0e87b
      with:
        nix_path: nixpkgs=channel:nixos-unstable
        extra_nix_config: |
          experimental-features = nix-command flakes

    - name: Cache Nix
      uses: DeterminateSystems/magic-nix-cache-action@v7

    - name: Install dependencies
      run: |
        nix develop . -c yarn install

    - name: Lint hathor-rpc-handler
      run: |
        nix develop . -c yarn workspace @hathor/hathor-rpc-handler run lint

    - name: Test hathor-rpc-handler
      run: |
        nix develop . -c yarn workspace @hathor/hathor-rpc-handler run test

    - name: Lint web-wallet
      run: |
        nix develop . -c yarn workspace @hathor/web-wallet run lint

    - name: Test web-wallet
      run: |
        nix develop . -c yarn workspace @hathor/web-wallet run test --run

    - name: Install Playwright browsers
      run: |
        nix develop . -c yarn workspace @hathor/web-wallet exec playwright install chromium --with-deps

    - name: E2E test web-wallet
      run: |
        nix develop . -c yarn workspace @hathor/web-wallet exec playwright test --project=chromium
